main {
  display: flex;
  flex-direction: column;
  /* Apply the .css-selector class here */
}

body {
  background: linear-gradient(180deg, #06192b, #350033, #004747);
  background-size: 600% 600%;
  background-attachment: fixed;
  -webkit-animation: background-animation 30s ease infinite;
  -moz-animation: background-animation 30s ease infinite;
  -o-animation: background-animation 30s ease infinite;
  animation: background-animation 30s ease infinite;
}

@-webkit-keyframes background-animation {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@-moz-keyframes background-animation {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@-o-keyframes background-animation {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes background-animation {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

h1 {
  text-align: center;
}

.scene {
  background: linear-gradient(#222, #222),
    linear-gradient(to right, red, purple);
  background-origin: padding-box, border-box;
  background-repeat: no-repeat; /* this is important */
  border: 5px solid transparent;
  margin: 15px;
  text-align: center;
}

* {
  color: rgb(243, 189, 73);
}

button {
  background-color: rgb(4, 4, 56); /* Green */
  border: none;
  color: cyan½;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px;
}

button:hover {
  background-color: rgb(255, 0, 0);
  cursor: pointer;
}
